@import _header.sass

h3
	font-size: 2rem
	letter-spacing: 2px
h4
	font-size: 1.5rem
img
	width: 100%
.about i
	font-size: 3rem
	margin-top: 1em
.gray
	background-color: #e6e6e6
	padding-top: 4em
	padding-bottom: 4em